
.wrapper {
  text-align: center;
  margin: 10% auto;
  color: #151419;
}

.notifications {
  list-style: none;
  width: 40%;
  margin: 0 auto;

  li {
    padding: 10px;
    border: 1px solid lightgrey;
    margin: 6px 0;
  }
}
